.butoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
  }
  .botao__padrao {
    margin: 0 0 1em 0px;
    color: $color-branco;
    background-color: $color-verde-claro;
    padding: 0.75em 100%;
    width: 90px;
    box-shadow: $color-box-shadow;
  }

  .button__skip{
    margin-top: 23px;
    color: $color-verde-claro;
  }
}
